.alerta{
    position: relative;
    margin-top: 15%;
    height: 339px;
    background: #68d068;
    color: white;
    width: 100%;
    text-align: center;
    

}

.alerta h1{
    position: relative;
    top: 1%;
    font-size: 50px;
    color: black;
}
 