.main h1{
    font-size: 30px;
    color: #ffffff;
    padding: 2px 0 10px 0;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;  
}
.main h1:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgb(85 179 54) 0%,#000000 20%,rgb(186 241 184 / 91%) 53%,#000000 79%,rgb(0 0 0 / 0) 100%);
}
.main .formulario{
position: relative;  
width: 60%;  
left: 30%;
font-size: 20px;
text-align: justify;
color: white;

}

.main .formulario label{
    margin-left: 5px;
}
.main input, select{
    text-align: justify;
    width: 50%;
    font-size: 20px;
    border-radius: 5%;
    margin: 10px;
    border: 1px solid;
    box-shadow: 5px 5px 5px 5px #00000085;
 
}
.main .formulario fieldset{
    position: relative;
    width: 50%;
    background-color: rgba(23, 160, 18, 0.911);
}
.main textarea{
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px 5px #00000085;
    padding: 10px;
}
.main .botao{
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.911);
    color:rgb(13, 141, 1);
   
}