.main .first-message{
    position: relative;
    margin-top: 20px;
    height: 200px;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
}

.main .first-message h1{
    position: relative;
    top: 22%;
    text-align: center;
}

.main .second-message{
    position: relative;
    margin-top: 20px;
    height: 200px;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
}

.main .second-message h1{
    position: relative;
    top: 22%;
    text-align: center;
}