.main .first-message{
    position: relative;
    margin-top: 20px;
    height: 200px;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
}

.main .first-message h1{
    position: relative;
    top: 22%;
    text-align: center;
}

.main .second-orcamentos{
    position: relative;
    margin-top: 20px;
    height: 250px;
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
}

.main .second-orcamentos h1{
    position: relative;
    bottom: 10%;
    text-align: center;
}

.main .second-orcamentos #imagem-notebook{
    position:relative;
    margin: 0;
    bottom: 10%;
    left: 25%;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}

#leg-notebook {
    position: relative;
    bottom: 10%;
    right: 21%;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

#leg-celular {
    position: relative;
    bottom: 76%;
    left: 0.2%;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
}
#leg-computador {
    position: relative;
    bottom: 144%;
    left: 20.8%;
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
}
.main .second-orcamentos #imagem-celular{
    position:relative;
    margin: 0;
    bottom: 80%;
    left: 48%;
}

.main .second-orcamentos #imagem-computador{
    position:relative;
    margin: 0;
    bottom: 145%;
    left:67%;
}