.cabecalho{
    background-image: linear-gradient(white, rgba(23, 160, 18, 0.911));
    text-align: center;
    height: 150px;
    color: white;
    
}

.cabecalho a{
    position: absolute;
    top: 5%;
    border-radius: 20px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

a span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

a span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

a:hover span {
    padding-right: 25px;
}

a:hover span:after {
    opacity: 1;
    right: 0;
}


.cabecalho .button-orcamento{
    left: 10px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;

}

.cabecalho img{
    position: relative;
    right: 15%;
}

.cabecalho #nome-empresa{/*nome da empresa*/
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 1%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 50px;
    Font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;
    font-weight: bolder;

}

.cabecalho .button-contato{/*fale conosco*/
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    right: 10px;
    

}


